REACT_APP_SUPABASE_URL=https://relftkiefmxyncfzaeom.supabase.co
REACT_APP_SUPABASE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlbGZ0a2llZm14eW5jZnphZW9tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk2NjU0MDEsImV4cCI6MjA0NTI0MTQwMX0.jJQe1s2qXkDwv7aNOx9GyPaTVL3PwA5xPoqiVmKjTNQ